body { 
	padding-top: 121px; 
	}

.btn {
  margin-bottom: 12px;
  
}


.jumbotron {
  

background: #d53369; /* fallback for old browsers */
 
}

h1 {
  margin-bottom:50px;
}

.container {
  padding: 20px;
}

table {
	padding: 20px;
	
	}
	
.media-object {
	width:100px;
	height:100px;
	}


[class*="example"]{
  min-height:300px;
}

.btn
{
	margin-top:30px;

}

.container {
	margin-top:30px;
	text-align:center;
}